body{
    margin: 0;
    overflow-x:hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightcoral;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    margin-top:30px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:slategray;
  }
  .home_header{
      align-content: center;
     
  
  }
  #home_nav{
      height:70px;
  }
 