body{
    margin: 0;
    overflow-x:hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightcoral;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    margin-top:30px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20
  }
  
  li a:hover {
    background-color:slategray;
  }
  .home_header{
      align-content: center;
     
  
  }
  #home_nav{
      height:25px;
  }
  #bg1{
    background-image:url("https://aidforcancer.com/static/media/information-blurred.88c33272.jpg");
    height:190px;
 
    width:1000px;
  }
  #h1{
    font-family:monospace,cursive;
    font-size:50;
    color:white;
    line-height:1000px;
    text-align: center;
    padding: 25px;
  }
  .sidenav {
    height:25px;
    width: 200px;
    position: fixed;
    /* z-index:-1; */
    left:150px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 36px;
    text-decoration: none;
    font-size:18px;
    color: #818181;
    display: block;
    margin-top:12px;
    width:200px;
    
  }
  
  .sidenav a:hover {
    color:slategray;
  }
  #tb1 a{
    border:line slategrey;
    color:seagreen;

  }
  #td2{
    display: block;
    border:1px solid black;
  }
  