.header {
    background-color:rgb(247, 244, 244);
    width:100%;
    border:1px solid rgb(207, 199, 199);
}
.header-item h3{
    
    font-family:monotype corsiva;
    font-size:35px;
    float:left;
    margin-top:10px;
}
.header-item a{
    text-decoration: none;
    color:black;
}
.header-item input {
    margin-left:200px;
    margin-top:20px;
}
.fa-instagram {
    margin-left:200px;
    float:left;
    margin-top:20px;
    font-size:36px;
}
.header-itemRight {
    margin-right:30px;
    margin-top:25px;
    float:right;
}
.user {
    margin-right:200px;
    float:right;
    margin-top:-45px;
    color:black;
}
.status {
    margin-right:190px;
    float:right;
    margin-top:-30px;
    color:lightslategrey;
}
.stories{
    margin-top:50px;
    background-color: whitesmoke;
}
.profile1{
    margin-top:-2px;
}