body{
  overflow-x:hidden;
  overflow-y:scroll; 
}
.header {
    background-color:rgb(247, 244, 244);
    width:100%;
    border:1px solid rgb(207, 199, 199);
    list-style-type:none;
}
.header-item h3{
    font-family:monospace cursive;
    font-size:35px;
    float:left;
    margin-top:8px;
    list-style: none;
}
.header-item a{
    text-decoration: none;
    color:black;
}
.header-item input {            
    margin-left:200px;
    margin-top:20px;
    margin-bottom:10px;
}
.fa-instagram {
    margin-left:200px;
    float:left;
    margin-top:15px;
    font-size:36px;
}
.header-itemRight {
    margin-right:30px;
    margin-top:-35px;
    float:right;
}
.user {
    margin-right:410px;
    float:right;
    margin-top:-40px;
    color:black;
}
.status {
    margin-right:410px;
    float:right;
    margin-top:-20px;
    color:lightslategrey;
}
.stories{
    margin-top:30px;
    background-color: whitesmoke;
    height:120px;
    color:slategray;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y: scroll;
    list-style-type:none;
}
.profile1{
    margin-top:-2px;
  
}
.user1{
    margin-right:100px;
    float:right;
    margin-top:-25px;
    color:black;
}
.timestatus{
    margin-right:90px;
    float:right;
    margin-top:-25px;
    color:slategray;
    font-family:sans-serif;
}
.status1{
    margin-right:60px;
    float:right;
    margin-top:-20px;
    color:slategray;
    font-family:sans-serif;
}
.stories1{
    margin-top:45px;
    background-color: whitesmoke;
    color:slategray;
    height:200px;
    list-style-type:none;
    width:300px;
}
